@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #aee1f9;
background-image:linear-gradient(315deg, #aee1f9 0%, #f6ebe6 74%);
background-position: center;
background-size: cover;
background-attachment: fixed;
min-height: 100vh; 
}
section.hero{
    position: relative;
    background-image: linear-gradient(rgba(4, 9, 30, 0.9), rgba(4, 9, 30, 0.8)), url("https://images.unsplash.com/photo-1542282088-fe8426682b8f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2FyJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh; 
}

.searchInput{
    padding: 70px 0px 70px 0px ;
}
.header-nav-list{
    background-color: #98d9e1;
    background-image: linear-gradient(315deg, #98d9e1 0%, #d6aed6 74%);;

}
#nav-list{
    
    list-style: "none";
    text-decoration: "none";
    color: "white";
    font-family: "cursive";
    text-transform: "uppercase"
}

.nav-item a{
    font-size: 15px;
}
.add_title{
    padding: 40px 0px 20px 0px;
}
#container-edit-page{
   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: auto;
    width: 100%;
}
#pagination{
    padding: 30px;
}
.brand-dark-color{
    color:darkorange
}

/*vehicle make list page  */

.vehicleMake-addBtn{

    position: relative;
    padding: 1rem;
    margin: 1rem;
    
}

.vehicleMake-addBtn .vehicleMake-list-addBtn{
    border-radius: 10px;
    background-color: transparent;
    text-decoration: none;
    padding: 5px;
    position: absolute;
    right: 4%;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0,0,0, 0.1);
    cursor: pointer;
    color: #c06c84;
    transition: 0.4s;
    border: 1.5px solid #c06c84 ;
}

.vehicleMake-addBtn .vehicleMake-list-addBtn:hover{
    padding: 0.3rem;
    font-size: 1.1rem;
    background-color: #c06c84;
    color: white;
}



.vehicleMake-sortContainer .sort-option{
     position: relative;

}

.vehicleMake-sortContainer .sort-option .sort-button{
    float:right;
    border: 1.5px solid #c06c84 ;
    border-radius: 10px;
    font-size: 0.8rem;
    background-color: transparent;
    text-decoration: none;
    margin-right: 1rem;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0,0,0, 0.1);
    cursor: pointer;
    color: #c06c84;
    transition: 0.4s;
}

.vehicleMake-sortContainer .sort-option .sort-button:hover{
    font-size: 1rem;
    background-color: #c06c84;
    color: white;
}

.vehicleMake-editBtn{
    margin-right: 0.3rem;
    border-radius: 3px;
    background-color: #00bbf0;
    color: white;
    border: none;
    font-size: 1rem;
    padding: 4px;
    transition: 0.4s;
}

.vehicleMake-editBtn:hover{
    font-size: 1.1rem;
}

.vehicleMake-deleteBtn{
    margin-right: 0.3rem;
    border-radius: 3px;
    background-color: #db2d43;
    color: white;
    border: none;
    font-size: 1rem;
    padding: 4px;
    transition: 0.4s;
}

.vehicleMake-deleteBtn:hover{
    font-size: 1.1rem;
}

.page-item{
    padding: 0 0.5rem 0 0.5rem;
    
}

.page-item a {
    color: #c06c84;
    border-radius:50% ;
    
   
   border: 1px solid #c06c84 ;
}

.page-item a:hover{
    background-color: #c06c84 ;
    color: white;
}



/* Vehicle model list page  */ 

.vehicleModel-addBtn{

    position: relative;
    padding: 1rem;
    margin: 1rem;
    
}

.vehicleModel-addBtn .vehicleModel-list-addBtn{
    border-radius: 10px;
    background-color: transparent;
    text-decoration: none;
    padding: 5px;
    position: absolute;
    right: 4%;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0,0,0, 0.1);
    cursor: pointer;
    color: #c06c84;
    transition: 0.4s;
    border: 1.5px solid #c06c84 ;
}

.vehicleModel-addBtn .vehicleModel-list-addBtn:hover{
    padding: 0.3rem;
    font-size: 1.1rem;
    background-color: #c06c84;
    color: white;
}

.sort-container{
    display: flex;
    justify-content: space-around;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1.5rem;
    max-width: 900px;
    width: 100%;


}
.sort-container .sort-button{
    border: 1.5px solid #c06c84 ;
    border-radius: 10px;
    font-size: 0.8rem;
    background-color: transparent;
    text-decoration: none;
    margin-right: 1rem;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0,0,0, 0.1);
    color: #c06c84;
    transition: 0.4s;
}

.sort-container .sort-button:hover{
    font-size: 1rem;
    background-color: #c06c84;
    color: white;
}

.sort-container h3{
    font-size: 1rem;
    justify-content: center;
    text-align: center;
    margin-right: 1.5rem;
}

.editBtnVehicleModel {
    margin-right: 0.3rem;
    border-radius: 3px;
    background-color: #00bbf0;
    color: white;
    border: none;
    font-size: 1rem;
    padding: 4px;
    transition: 0.4s;
    padding:.3rem 1rem .3rem 1rem
}

.editBtnVehicleModel:hover{
    font-size: 1.1rem;
}

.deleteBtnVehicleModel{
    margin-right: 0.2rem;
    border-radius: 3px;
    background-color: #db2d43;
    color: white;
    border: none;
    font-size: 1rem;
    padding: 4px;
    transition: 0.4s;
    padding:.3rem 1rem .3rem 1rem
}

.deleteBtnVehicleModel:hover{
    font-size: 1.1rem;
}
.vehicleMakeBrand{
    font-style: italic;
    font-weight: 500;
    color:#c06c84;
    
}

.table-container{
    position: relative;
    margin:auto;
    max-width: 800px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.table-container thead tr th{
    text-align: center;
}

.table-container tbody tr td{
    text-align: center;
}

 select{
    width:100%;
    padding: 0.4rem;
    text-align: center;
    border-radius: 5px;
    border-color: rgb(206, 205, 205);
}

#edit-form-input{
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: 100%;
    
}

#edit-form-input input{
    margin-top: 3rem;
}


















 